.header {
  padding: 15px 50px;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  color: var(--white);
}

@media (max-width: 338px) {
  .header {
    background-color: var(--dark-blue);
    align-items: flex-end;
    justify-content: end;
  }
  .header h1 {
    display: none;
  }
}
